<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />  
        <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900|Source+Sans+Pro:300,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="D:\CLICK HERE\python\octahacks\Tm_Okthcks_pvte_Mod-main\Virtual Diary Mod\static\css\style1.css">
       
</head>
    <title>
        CODERAPTORS!
    </title>

    <body>
        <h1><p class="heading">Virtual Diary Mental Health Analysis<br>EmoTool</p></h1>

        <a href="index1.html" class="btn"><div class="login_btn">Logout</div></a>
        <br><br>


        <section class="my-work" id="work">
            <a href="newjournalentry.html" class="btn">Create New Entry</a>
            <br><br><br><br>
            <h2 class="section__title section__title--work">Past Entries</h2>
            <br><br>
            
            <div class="portfolio">
                <!--Portfolio item 01-->
                <a href="oldjournalentry.html" class="portfolio__item">
                    <img src="D:\CLICK HERE\python\octahacks\Tm_Okthcks_pvte_Mod-main\Virtual Diary Mod\img\book1.png" alt="" class="portfolio__img" width="50%">
                </a>

                <!--Portfolio item 02-->
                <a href="oldjournalentry.html" class="portfolio__item">
                    <img src="D:\CLICK HERE\python\octahacks\Tm_Okthcks_pvte_Mod-main\Virtual Diary Mod\img\book1.png" alt="" class="portfolio__img" width="50%">
                </a>

                <!--Portfolio item 03-->
                <a href="oldjournalentry.html" class="portfolio__item">
                    <img src="D:\CLICK HERE\python\octahacks\Tm_Okthcks_pvte_Mod-main\Virtual Diary Mod\img\book1.png" alt="" class="portfolio__img" width="50%">
                </a>

                <!--Portfolio item 04-->
                <a href="oldjournalentry.html" class="portfolio__item">
                    <img src="D:\CLICK HERE\python\octahacks\Tm_Okthcks_pvte_Mod-main\Virtual Diary Mod\img\book1.png" alt="" class="portfolio__img" width="50%">
                </a>

                <!--Portfolio item 05-->
                <a href="oldjournalentry.html" class="portfolio__item">
                    <img src="D:\CLICK HERE\python\octahacks\Tm_Okthcks_pvte_Mod-main\Virtual Diary Mod\img\book1.png" alt="" class="portfolio__img" width="50%">
                </a>

                <!--Portfolio item 06-->
                <a href="oldjournalentry.html" class="portfolio__item">
                    <img src="D:\CLICK HERE\python\octahacks\Tm_Okthcks_pvte_Mod-main\Virtual Diary Mod\img\book1.png" alt="" class="portfolio__img" width="50%">
                </a>

                <!--Portfolio item 07-->
                <a href="oldjournalentry.html" class="portfolio__item">
                    <img src="D:\CLICK HERE\python\octahacks\Tm_Okthcks_pvte_Mod-main\Virtual Diary Mod\img\book1.png" alt="" class="portfolio__img" width="50%">
                </a>

                <!--Portfolio item 08-->
                <a href="oldjournalentry.html" class="portfolio__item">
                    <img src="D:\CLICK HERE\python\octahacks\Tm_Okthcks_pvte_Mod-main\Virtual Diary Mod\img\book1.png" alt="" class="portfolio__img" width="50%">
                </a>

            </div>
        </section>

    </body>


</html>