<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />  
        <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900|Source+Sans+Pro:300,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="D:\CLICK HERE\python\octahacks\Tm_Okthcks_pvte_Mod-main\Virtual Diary Mod\static\css\style1.css">

       
</head>
    <title>
        CODERAPTORS!
    </title>

    <body>
        <h1><p class="heading">Virtual Diary Mental Health Analysis<br>EmoTool</p></h1>

        <form method="POST" action="/login_button">

        <a href="login_button" class="btn"><div class="login_btn">Login</button></div></a>


        </form>
        <br><br>
        <a href="login.html" class="btn"><div class="signup_btn">Sign Up</div></a>
        <br>


        <!--About Me-->
        <section class="about" id="about_us">
            <h2 class="section__title section__title--about">About Us</h2>
                <h3 class="about_title">A Mental Health Evaluation Journal</h3>
            <div class="about__body">
                <p>The COVID-19 pandemic has had a number of consequences--one of which is the population's mental health. Many are experiencing poor mental health for the first time while others have lost access to some of the resources they used to manage their mental health. Namely, a plethora of individuals struggling with depression, anxiety or other mental illnesses have lost access to their regular appointments with their therapists or psychiatrists.</p>
                <p>, online video appointments are not feasible for individuals with limited or poor internet access. Without analyzing the body language of their patients, therapists will not be able to accurately glean their patients' health. Our remote mental health monitoring tool aims to solve this issue.</p>
            </div>
            
        </section>

        <hr>

        <section class="members">
            <h3 class="member_title">Members</h3><h3><ul>
                <li>Harshit Aggarwal</li>
                <li>Harsh Sharma</li>
                <li>Irfhana</li>
                <li>Prathamesh</li>
            </ul></h3>
        </section>

    </body>


</html>