<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Virtual Diary Mental Health Analysis</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
</head>
<body><div class="navbar-fixed" >
  <nav class="pink lighten-3" role="navigation">
   <div class="nav-wrapper container">
     <a id="logo-container" href="#" class="brand-logo">Sike-Tool</a>
     <ul class="right hide-on-med-and-down">
       <li ><a href="{{url_for('index')}}">Home</a></li>

        <li><a href="#aboutapp">About</a></li>
     </ul>

     
     <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
   </div>
 </nav>
</div>
 <ul id="nav-mobile" class="sidenav">
       <li><a href="{{url_for('index')}}">Home</a></li>

        <li><a  href="#contactme">About</a></li>
     </ul>
<!--Slider -->
<section class="slider">
  <div id="index-banner" class="card-panel pink lighten-5" >

     <ul class="slides">
      <li>
        <img class="red lighten-3" src="" alt="Unsplashed background img 1" alt="">
        <div class="caption center-align">
          <h2 class="">Virtual Diary Mental Health Analysis-Remote Mental Health Monitoring</h2>

           <div class="row center">
          <a href="{{url_for('index')}}" id="download-button" class="btn-large waves-effect waves-light blue lighten-1">Refresh</a>
        </div>
        </div>
      </li>

   
    </ul>
  </div>
</section>

<!-- Start of Main Section -->
 <div class="container">
    <div class="section">
       
      <!--   Icon Section   -->
      <div class="row">
        <div class="input-field col s12 m10">
          <div class="icon-block">
            <h2 class="center brown-text">Diary Entry<i class="material-icons">chrome_reader_mode</i></h2>
            <a href="/res">
            <button class="btn btn-small waves-effect waves-light light-blue lighten-1" type="reset">Start</button>
            </a><br>
           <form method="POST" action="/res">
            <textarea name="rawtext" cols="3" rows="5" class="form-control" required="true" placeholder="Enter Text Here"></textarea>
            <br/>
            <div class="center-align">
              <button class="btn btn-small waves-effect waves-light light-blue lighten-1 cb" type="reset"><span style="margin-right: 50px;"></span>Clear</button>
               <button class="btn btn-small waves-effect waves-light purple lighten-1" type="submit"><span style="margin-right: 20px;"></span>Summarize</button>
               </div>
        </form>
          </div>
        </div>

      </div>


          
        </form>
          </div>
        </div>

      </div>

    </div>
  </div>
  <!-- End -->

  <!-- Result Display-->
  <div class="card-panel red lighten-5">
    <div class="row">
        <h5 class="col s10">Depression Metric Level</h5>
        <h5 class="col s2 right-align">{{ metric }}%</h5>
    </div>
    <div class="progress" style="height: 40px">
        <div class="determinate red lighten-2" style="width: 65%; height: 40px;">{{ metric }}%</div>
    </div>
  </div>
  <section class="section section-solutions-about red lighten-2">
 <div class="container white-text">
 
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s8 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center" >User's Journal Text</h5>
             <h6>Reading Time: <span style="font: 10px;">{{ final_reading_time }} min </span></h6>
            <h4 class="card red lighten-3 center-align">{{ctext}}</h4>
            <div class="alert alert-info" role="alert"><p>Time Elapsed: <span style="font: 10px">{{ final_time }} mins </span></p><br/>
             
        </div>
          </div>
        </div>

        <div class="col s8 m4 ">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">chrome_reader_mode</i></h2>
            <h5 class="center">Summarized</h5>
              <div class="" role="alert">
              <h6>Reading Time: <span  style="font-size: 20px;">{{ summary_reading_time }} min </span></h6>
        </div>
            <h4 class="card red lighten-3 center-align">{{ final_summary }}</h4>
          
          </div>
        </div>
<!--Model Predictions-->
          <div class="col s8 m4 ">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">chrome_reader_mode</i></h2>
            <h5 class="center">Analysed Emotion</h5>
            <div class="card center-align">
              <h3 class="light"><span class="green-text center-align">{{ predictions }}</span></h3>
            </div>

            <h5 class="center">Depression Status:</h5>
            <div class="card">
              <p class="light"></p>
              {% if depress==1 %}
              <div class="row "><span class="red-text center-align">
                <h4>Depressed</h4></span>
            </div>

              {% elif depress==0 %}
              <div class="row "><span class="green-text center-align">
                <h4>Not Depressing</h4></span>
            </div>
              {% endif %}
          </div>
            
          <h5 class="center">Facial Mode Status:</h5>
          <div class="card">
          
              {% if tp: %}
              <div class="result-text center-align">
              <h4><span class="green-text center-align">{{tp}}</span><h4>
              </div>
              {% endif %}
            </div>
             

          </div>
        </div>


      </div>

  
  </div>
</section>


  

        </div>
      

      </div>
    </div>

    </div>
  </footer>
        </div>
      

      </div>
    </div>

    </div>
  </footer>
        </div>
      

      </div>
    </div>

    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="static/js/materialize.js"></script>
  <script src="static/js/init.js"></script>
<!-- Jesse JCharis -->
  </body>
</html>
